.title {
  font-size: 2rem;
}

.panel {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items:start;
  padding: 1rem;
}

.button {
  padding: 1rem;
  color: yellow;
  background-color: blue;
  box-shadow: .1rem;
  border-radius: .5rem;
  cursor: pointer;
}